<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
</head>
<body>
    <h1>List of Courses</h1>

    <!-- Display the full list of courses -->
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td th:text="${course.description}"></td>
            </tr>
        </tbody>
    </table>
    
    <a th:href="@{/api/generateCourseSchedulePdf}" class="btn">Download PDF</a>
</body>